@(categories: List[Category], active: String)
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
    <li class="@if(active=="user"){ active }"><a href="@routes.Browser.browse("user")">Your videos</a></li>
    <li class="@if(active=="favourites"){ active }"><a href="@routes.Browser.browse("favourites")">Favourites</a></li>
    
    <li class="nav-header">Categories</li>
    @for(category <- categories){
    	<li class="@if(active==category.title){ active }"><a href="@routes.Browser.browse(category.title)">@category.title</a></li>
    }
  </ul>
</div><!--/.well -->